{%- for path in item.paths -%}
  {{- path + '\n' -}}{{ '{\n' if loop.last else '' }}
{%- endfor -%}
{%- for option in item.options -%}
  {{- ' '*4 + option|indent() + '\n' -}}{{ '}' if loop.last else '' }}
{%- endfor -%}