{%- set cmdline_options = memcached_exporter_cmdline_options|
    reject('search', '--web.listen-address')
-%}
[Unit]
Description=Memcached Exporter
After=network.target

[Service]
User={{ memcached_exporter_user }}
Group={{ memcached_exporter_group }}
Type=simple
ExecStart=/bin/sh -c '{{ memcached_exporter_bin_path }}/memcached_exporter \
    --web.listen-address={{ memcached_exporter_web_listen_address }} \
    {%- for option in cmdline_options -%}
      {{ '\n' + option|indent(width=4,first=true) + ' \\' }}
    {%- endfor -%}
    {{ '\n    >> ' + memcached_exporter_log_path + '/' + 
    memcached_exporter_log_file + ' 2>&1\'' }}

[Install]
WantedBy=multi-user.target
