listener "tcp" {
  address = "127.0.0.1:{{ vault_port }}"
  cluster_address = "{{ ansible_host }}:8201"
  tls_disable = true
}

{%- for key, value in vault_config_options.items() -%}
  {%- if key in ['listener'] -%}
    {%- for item in value -%}
      {%- for item_key , item_value in item.items() -%}
        {{- "\n%s \"%s\" {\n"|format(key, item_key) -}}
        {%- for sub_key, sub_value in item_value.items() -%}
          {{- "%s = %s\n"|format(' '*4 + sub_key, '"' + sub_value + '"' if
          sub_value is string else sub_value|lower) -}}
        {%- endfor -%}
        {{- '}' -}}
      {%- endfor -%}
    {%- endfor -%}
  {%- elif key in ['seal', 'storage', 'service_registration', 'entropy'] -%}
    {%- for sub_key, sub_value in value.items() -%}
      {{- "\n%s \"%s\" {\n"|format(key, sub_key) -}}
      {%- for sub_sub_key, sub_sub_value in sub_value.items() -%}
        {{- "%s = %s\n"|format(' '*4 + sub_sub_key, '"' + sub_sub_value + '"' if
        sub_sub_value is string else sub_sub_value|lower) -}}
      {%- endfor -%}
      {{- '}' -}}
    {%- endfor -%}
  {%- elif key in ['sentinel', 'telemetry'] -%}
    {{- "\n%s {\n"|format(key) -}}
    {%- for sub_key, sub_value in value.items() -%}
      {{- "%s = %s\n"|format(' '*4 + sub_key, '"' + sub_value + '"' if 
      sub_value is string else sub_value|lower|replace('\'','"')) -}}
    {%- endfor -%}
    {{- '}' -}}
  {%- else -%}
    {{- "\n%s = %s"|format(key, '"' + value + '"' if 
    value is string else value|lower) -}}
  {%- endif -%}
{%- endfor -%}
