{%- for server in chrony_servers if chrony_servers|length > 0 -%}
server {{ server }}
{% endfor %}

{%- if chrony_pool|default(none, true) is not none -%}
pool {{ chrony_pool }}
{% endif %}

{%- if chrony_driftfile|default(none, true) is not none -%}
driftfile {{ chrony_driftfile }}
{% endif %}

{%- if chrony_makestep|default(none, true) is not none -%}
makestep {{ chrony_makestep }}
{% endif %}

{%- if chrony_rtcsync is defined -%}
rtcsync {{ chrony_rtcsync }}
{% endif %}

{%- if chrony_logdir|default(none, true) is not none -%}
logdir {{ chrony_logdir }}
{% endif %}

{%- if chrony_keyfile|default(none, true) is not none -%}
keyfile {{ chrony_keyfile }}
{% endif %}

{%- if chrony_leapsectz|default(none, true) is not none -%}
leapsectz {{ chrony_leapsectz }}
{% endif %}

{%- if chrony_hwtimestamp|default(none, true) is not none -%}
hwtimestamp {{ chrony_hwtimestamp }}
{% endif %}

{%- if chrony_minsources|default(none, true) is not none -%}
minsources {{ chrony_minsources }}
{% endif %}

{%- if chrony_allow|default(none, true) is not none -%}
allow {{ chrony_allow }}
{% endif %}

{%- if chrony_local|default(none, true) is not none -%}
local {{ chrony_local }}
{% endif %}

{%- if chrony_log|default(none, true) is not none -%}
log {{ chrony_log }}
{% endif %}
