---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
{% if kubernetes_kubeadm_config_kubeletconfiguration|length > 0 %}
  {{- kubernetes_kubeadm_config_kubeletconfiguration|to_nice_yaml(indent=2) -}}
{% endif %}
