{%- for path in consul_logrotate_config.paths -%}
  {{- path + '\n' -}}{{ '{\n' if loop.last else '' }}
{%- endfor -%}
{%- for option in consul_logrotate_config.options -%}
  {{- ' '*4 + option|indent() + '\n' -}}{{ '}' if loop.last else '' }}
{%- endfor -%}
