[time]
NTP={{ ntp_timesyncd_servers }}
FallbackNTP={{ ntp_timesyncd_fallback_servers }}
RootDistanceMaxSec={{ ntp_timesyncd_root_distance_max_sec }}
PollIntervalMinSec={{ ntp_timesyncd_poll_interval_min_sec }}
PollIntervalMaxSec={{ ntp_timesyncd_poll_interval_max_sec }}
ConnectionRetrySec={{ ntp_timesyncd_connection_retry_sec }}
